<nav class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">Car Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/admin/post">Posts</a></li>
      <li><a href="/admin/user">User</a></li>
      
    </ul>

  </div>
</nav>
